{{ define "main" }}

  <h1 class="center tc f2 pa2">Rangliste</h1>
  <div class="center grey-3 tc">
    <p class="center tc">{{ .Date.Format "Mon, Jan 2, 2006" }}</p>
  </div>
  <!-- <div id="myBet" class="pa2" style="position: fixed; top: 20px; right:20px; background-color: rgb(250, 250, 250);">
    <div><div>SYMBOL 1</div><div><input id="t1" name="t1"></div></div>
    <div><div>SYMBOL 2</div><div><input id="t2" name="t2"/></div></div>
    <div><div>SYMBOL 3</div><div><input id="t3" name="t3"/></div></div>
    <div><div>SYMBOL 4</div><div><input id="t4" name="t4"/></div></div>
  </div> -->

  <div id="autoRankingList">

  </div>

  <script>
    (function() {
      var container = document.getElementById("autoRankingList")
      fetch("https://dabeiseinistalles.blob.core.windows.net/data/prices.json")
        .then(res => res.json())
        .then(function(prices) {
          var players = getBets()

          var referenceDate = "20200327"
          var currentDay = new Date().toISOString().substr(0, 10).split("-").join("")
          var byValorSymbol = prices
            .reduce(function(prev, current) {
              var valorSymbol = current.valorSymbol
              var group = prev[valorSymbol]
              if (group) {
                group.prices.push(current)
              }
              else {
                group = { prices: [current] }
                prev[valorSymbol] = group
              }
              if (current.lastDate === referenceDate) {
                group.referenceDatePrice = current.closingPrice
              }
              return prev
            }, {})

          Object.values(byValorSymbol)
            .forEach(function(group) {
              group.prices = group.prices
                .filter(function(item) { 
                  return item.lastDate >= referenceDate 
                })
                .sort(function(a, b) { 
                  return a.lastDate > b.lastDate ? -1 : a.lastDate === b.lastDate ? 0 : 1
                })
              group.prices.forEach(function(item){
                item.performance = item.closingPrice / group.referenceDatePrice - 1
                item.referenceDatePrice = group.referenceDatePrice
              })
            })
            
          var rankingList = players.map(function(player){
            var performances = player.bets
              .map(function(valorSymbol) {
                var ofSymbol = byValorSymbol[valorSymbol]
                if (!ofSymbol) {
                  console.log("symbol not found in prices", valorSymbol)
                }
                return { 
                  valorSymbol: valorSymbol,
                  latest: ofSymbol.prices[0], 
                  previous: ofSymbol.prices[1] }
              })
            return {
              name: player.name,
              performances: performances,
              totalPerformance: performances.reduce(function(prev, current) {
                return { 
                  latest: prev.latest + current.latest.performance, 
                  previous: prev.previous + current.previous.performance
                }
              }, { latest: 0, previous: 0 })
            }
          })

          var html = rankingList
            .sort(function(a, b) {
              return b.totalPerformance.latest - a.totalPerformance.latest
            })
            .map(function(item){
            return '<tr>' +
              '<td class="ph2 pv1 tr">' + calculateRank(item, rankingList) + '.</td>' +
              '<td class="ph2 pv1">' + item.name + '</td>' +
              '<td class="ph2 pv1 tr">' + (Math.round(item.totalPerformance.latest * 10000) / 100).toFixed(2) + '%</td>' + 
              '</tr>'
          }).join("") 
          console.log(prices.length)
          container.innerHTML = '<table class="collapse center"><tbody>' + html + '</tbody></table>'
        })

      function calculateRank(item, allItems) {
         return allItems.filter(function(iitem){ 
                return iitem.totalPerformance.latest > item.totalPerformance.latest 
              }).length + 1
      }

      function myBet() {
        var myBetElement = document.getElementById("myBet")

      }

      function getBets() {
        var raw = [["Kurt Meier","Logn","fhzn","ROG","Uhr"],
["Fritz Gschwend", "ams","ROG","oerl","abbn"],
["Koni+Silvia","scmn","novn","logn","csgn"],
["Tanino Liotta","fhzn","soon","UBSG","AUTN"],
["Von Känel Peter","UBSG","novn","Uhr","nesn"],
["Geni+Erika Gremli","novn","CFR","ROG","soon"],
["Chaschtä+Nunzia Carrieri","nesn","kud","novn","ROG"],
["René Benz","novn","nesn","ROG","STMN"],
["Severin Stucky","nesn","ROG","zurn","temn"],
["Katy+Urs Näf","fhzn","DUFN","valn","Ams"],
["Baggerstubä","csgn","novn","nesn","ROG"],
["Heidi+Roger Blatter","ROG","LOGN","STMN","temn"],
["Made+Donato Carrieri","nesn","ROG","novn","valn"],
["Antonia+Rolf Weigel","csgn","ROG","temn","nesn"],
["Stefania+Christian Zingg","csgn","ROG","zurn","abbn"],
["Zac","novn","LOGN","zurn","scmn"],
["Speranza+Edwin Steuble","ROG","csgn","scmn","zurn"],
["Dog (Stefan Werner)","Uhr","kud","AUTN","valn"],
["Alex+Mario","novn","ROG","scmn","valn"],
["Verena Krebs+Bruno Wacker","zurn","UBSG","ROG","kud"],
["Regula+Franco Monferini","nesn","soon","novn","scmn"],
["Urs Affentranger","novn","Logn","zurn","kud"],
["Gina+Bruno Meier","novn","ROG","nesn","csgn"],
["Peter Beranek","nesn","novn","ROG","STMN"],
["Susanne Ruch+Christian Forster","ROG","UBSG","fhzn","AUTN"],
["Lilly+Raffaele","ROG","ams","CFR", "STMN"],
["Zeljko Berger", "novn","scmn","csgn","arbn"],
["Eva+Markus Heitz","Uhr","CFR","zurn","csgn"],
["Emma+Christian","Logn","arbn","temn","nesn"],
["Moni+Coc Brandes","nesn","novn","ROG","DUFN"],
["Markus Lüthi","UBSG","novn","ROG","nesn"],
["Andy Hermann","ROG","scmn","IMPN","nesn"],
["Inge Berger","novn","ROG","nesn","STMN"],
["Rosa+Marlen","AUTN","ams","soon","ROG"],
["Leni+Luciano Schüepp","novn","nesn","ROG","scmn"]]

return raw.map(function(src) {
  return {name: src[0], bets: [src[1].toUpperCase(), src[2].toUpperCase(), src[3].toUpperCase(), src[4].toUpperCase()]}
})
      }
    })()
  </script>

{{ end }}
